header {
  background-color: #123831;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header a {
  color: #3d8c7d;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
